<app-formulario></app-formulario>
<div class="bg-gray-100">
    <!-- 🚪 Repetir puertas -->
    <div *ngFor="let puerta of puertas()" class="mb-10">
        <h3 class="text-xl font-semibold text-gray-700 mb-1">Estacionamiento {{ puerta.nombre }}</h3>
        <p class="text-sm text-gray-500 mb-4">
            {{ getCarrosEstacionados(puerta.nombre) }}/{{ puerta.capacidad }} espacios disponibles
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div *ngFor="let vehiculo of puerta.vehiculos" class="bg-white rounded-2xl shadow-md p-5 border-l-4">
                <h3 class="text-lg font-bold text-gray-800">{{ vehiculo.matricula }}</h3>
                <p class="text-sm text-gray-600"><strong>Conductor:</strong> {{ vehiculo.name_driver }}</p>
                <p class="text-sm text-gray-600"><strong>Tipo:</strong> {{ vehiculo.tipo_usuario }}</p>
                <p class="text-sm text-gray-600"><strong>Ubicación:</strong> {{ vehiculo.area_estacionamiento }}</p>

                <div class="mt-3 text-xs text-gray-400">
                    <span>{{ vehiculo.hora_entrada }}</span>
                </div>

                <button class="mt-4 px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition-colors"
                    (click)="registrarSalida(vehiculo.matricula)">
                    Registrar Salida
                </button>
            </div>
        </div>
    </div>

</div>